<%= form_with model: [@boat, @booking] do |f| %>
  <%= @booking.user.email %>
  <div class="row gx-4 my-2">
    <div class="col">
      <%= f.date_field :start_date, class: 'form-control bg-white', placeholder: 'Pick-up date', data: { controller: "datepicker" } %>
    </div>
    <div class="col">
      <%= f.date_field :end_date, class: 'form-control bg-white',placeholder: 'Return date', data: { controller: "datepicker" } %>
    </div>
  </div>
  <div class="row gx-4 my-2">
    <div class="col">
      <%= f.text_field :capacity, class: 'form-control bg-white',placeholder: 'Number of people'%>
    </div>
  </div>

  <%= f.submit class:"btn btn-primary"%>
<% end %>
