<div class="col">
  <%=  link_to boat, class:"text-decoration-none" do %>
    <div class="card h-100">
      <%= image_tag(boat.img_url) %>
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title"><%= boat.name %>
          (
          <%= boat.capacity %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <path d="M4.243 4.757a3.757 3.757 0 1 1 5.851 3.119 6.006 6.006 0 0 1 3.9 5.339.75.75 0 0 1-.715.784H2.721a.75.75 0 0 1-.714-.784 6.006 6.006 0 0 1 3.9-5.34 3.753 3.753 0 0 1-1.664-3.118Z"></path>
          </svg>
          )
        </h5>
        <p class="card-text"><strong>Pickup address</strong>: <%= boat.pickup_address %></p>
        <div class="d-flex p-2 justify-content-between">
          <h5>
            €<%= boat.cost %>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
