<div class="my-4">
  <h3><%= @full_name %></h3>
  <p><strong>Email</strong>: <%= current_user.email %></p>
  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
</div>
<hr>
<div class="my-3">
  <div class="d-flex mb-3">
    <h3 class="mx-2">My Boats</h3>
    <%= link_to "Add Boat", new_boat_path, class: "btn btn-primary" %>
  </div>
  <% if current_user.boats.empty? %>
    <p>You have no boats yet..</p>
  <% else %>
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
      <% @boats.each do |boat| %>
        <%= render 'my_boat', boat: boat %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="my-3">
  <h3>My Bookings</h3>
  <% if current_user.bookings.empty? %>
    <p>You have no bookings yet..</p>
  <% else %>
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
      <%= render partial: 'shared/booking', collection: @bookings %>
    </div>
  <% end %>
</div>
