<h1>Hello, <%= current_user.first_name%> <%= current_user.last_name%></h1>
<h2>Add your new boat here</h2>
<%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :engine %>
  <%= f.input :pickup_address %>
  <%= f.input :year %>
  <%= f.input :capacity %>
  <%= f.input :cost %>
  <%= f.submit %>
<% end %>
