<h2>Edit your new boat here</h2>
<%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :engine %>
  <%= f.input :pickup_address %>
  <%= f.input :year %>
  <%= f.input :capacity %>
  <%= f.input :cost %>
  <%= f.submit %>
<% end %>
